<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>Click the button below to predict exam performance.</p>
        <a href="{{ url_for('predict_datapoint') }}" class="btn">Go to Prediction Page</a>
        
    </div>
</body>
</html>
